@import helper._
@(quotationForm: Form[model.QuotationFormData], indexForm: Form[model.IndexFormData], quotations : Seq[model.Quotation], companyNames : Seq[String], result: Double)(implicit request: RequestHeader)
@main() {
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-3 col-md-12 main">
            <h1 class="page-header">Reactive Stock</h1>
            <div class="row">
                <form id="index-data-form" role="form" action='@routes.QuotationsController.runIndex()'
                      method="post">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h4>Companies</h4>
                            <p>
                                <select class="form-control" id=company_id" size="21" multiple="multiple" name="company_names[]">
                                    @for(companyName <- companyNames){
                                    <option value="@companyName">@companyName</option>
                                    }
                                </select>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h4>Date range</h4>
                            Date from:
                            <div class="input-group date" data-provide="datepicker">
                                <input type="text" class="form-control" name="date_from">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                            Date to:
                            <div class="input-group date" data-provide="datepicker">
                                <input type="text" class="form-control" name="date_to">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                            <h4>Index</h4>
                            <div>
                                <label class="radio-inline">
                                    <input type="radio" name="index_name" id="inlineRadio1" value="TEST">Test
                                </label>
                            </div>
                            <div>
                                <label class="radio-inline">
                                    <input type="radio" name="index_name" id="inlineRadio2" value="MOVING_AVERAGE">Moving
                                    Average
                                </label>
                            </div>
                            <div>
                                <label class="radio-inline">
                                    <input type="radio" name="index_name" id="inlineRadio3" value="EASE_OF_MOVEMENT">Ease of
                                    Movement
                                </label>
                            </div>
                            <div><label class="radio-inline">
                                <input type="radio" name="index_name" id="inlineRadio4" value="AVERAGE_TRUE_RANGE">Average
                                True Range
                            </label>
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-top:50px;">
                            <button type="submit" class="btn btn-default">Run &raquo;</button>
                        </div>
                    </div>
                </form>
            </div>
            @if(result != 0){
                <div class="row text-center">
                    <h2 class="sub-header">Result</h2>
                    <h3><b>@result</b></h3>
                </div>
            }
            <h2 class="sub-header">Quotations</h2>
            <div class="table-responsive">
                <p>
                <h3>Select company</h3>
                <select id="select_company" onChange="window.location.href=this.value">
                    <option value="#">-</option>
                    @for(companyName <- companyNames){
                    <option value="@routes.QuotationsController.index(companyName)">@companyName</option>
                    }
                </select>
                </p>
                <table class="table table-striped sortable">
                    <thead>
                    <tr>
                        <th data-defaultsort="desc">ID</th>
                        <th>Company</th>
                        <th>Opening</th>
                        <th>Max</th>
                        <th>Min</th>
                        <th>Closing</th>
                        <th>Change</th>
                        <th>Volume</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <form id="quotation-data-form" role="form" action='@routes.QuotationsController.addQuotation()' method="post">
                            <td></td>
                            <td>
                                <select id="select_company_add_quotation" name="company_name">
                                    @for(companyName <- companyNames){
                                    <option value="@companyName">@companyName</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <input type="number" step="0.01" id="opening" name="opening" value="" required>
                            </td>
                            <td>
                                <input type="number" step="0.01" id="max" name="max" value="" required>
                            </td>
                            <td>
                                <input type="number" step="0.01" id="min" name="min" value="" required>
                            </td>
                            <td>
                                <input type="number" step="0.01" id="closing" name="closing" value="" required>
                            </td>
                            <td>
                                <input type="number" step="0.01" id="change_percentage" name="change_percentage" value="" required>
                            </td>
                            <td>
                                <input type="number" id="volume" name="volume" value="" required>
                            </td>
                            <td>
                                <input type="date" id="date" name="date" value="" placeholder="yyyy-MM-dd" required>
                            </td>
                            <td>
                                <a class="btn btn-success" role="button">Add</a>
                            </td>
                        </form>
                    </tr>
                    @for(quotation <- quotations){
                    <tr>
                        <td>@quotation.id</td>
                        <td>@quotation.company_name</td>
                        <td>@quotation.opening</td>
                        <td>@quotation.max</td>
                        <td>@quotation.min</td>
                        <td>@quotation.closing</td>
                        <td>@quotation.change_percentage</td>
                        <td>@quotation.volume</td>
                        <td>@quotation.date</td>
                        <td><a class="btn btn-danger" role="button" href="@routes.QuotationsController.deleteQuotation(quotation.id)">delete</a></td>
                    </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
}