@import helper._
@(quotationForm: Form[model.QuotationFormData], indexForm: Form[model.IndexFormData], quotations : Seq[model.Quotation], companyNames : Seq[String])(implicit request: RequestHeader)
@main() {

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>

            <div class="row">
                <form id="index-data-form" role="form" action='@routes.QuotationsController.runIndex()' method="post">
                    <div class="col-md-4">
                            <h4>Test</h4>
                            <p>Run test index. </p>
                            <input type="radio" name="index_name" value="INDEX_1"/>

                    </div>
                    <div class="col-md-4">
                        <h4>Moving Average</h4>
                        <p></p>
                        <input type="radio" name="index_name" value="INDEX_2"/>
                    </div>
                    <div class="col-md-4">
                        <h4>Ease of Movement</h4>
                        <p></p>
                        <input type="radio" name="index_name" value="INDEX_3"/>
                    </div>
                    <div class="col-md-4">
                        <h4>Average True Range</h4>
                        <p></p>
                        <input type="radio" name="index_name" value="INDEX_4"/>
                    </div>
                        <div class="dropdown">
                            <select id="select" name="company_name">
                                @for(companyName <- companyNames){
                                <option value="@companyName">@companyName</option>
                                }
                            </select>
                        </div>
                        </p>
                    </div>
                    <button type="submit">Add</button>
                </form>
            </div>

            <h2 class="sub-header">Section title</h2>
            <div class="table-responsive">
                <p>
                <h3>Select company</h3>
                <select id="select_company">
                    @for(quotation <- quotations){
                    <option value="@quotation.company_name">@quotation.company_name</option>
                    }
                </select>

                </p>
                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Company</th>
                        <th>Opening</th>
                        <th>Max</th>
                        <th>Min</th>
                        <th>Closing</th>
                        <th>Change</th>
                        <th>Volume</th>
                        <th>Date</th>
                    </tr>
                    @for(quotation <- quotations){
                    <tr>
                        <td>@quotation.id</td>
                        <td>@quotation.company_name</td>
                        <td>@quotation.opening</td>
                        <td>@quotation.max</td>
                        <td>@quotation.min</td>
                        <td>@quotation.closing</td>
                        <td>@quotation.change_percentage</td>
                        <td>@quotation.volume</td>
                        <td>@quotation.date</td>
                    </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

}